<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads</title>

    <link rel="stylesheet" href="/css/style.css">
    <!-- vvv font awesome for useful icons like search glass -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="user-index-body white">
    <%if (activeUser) {%>
        <%- include("./partials/userIndexHeader")%>
    <%}%>

    <div class="tac ">
        <h2 class="word-wrapping"><%=file.name%></h2>
        <br>
        <h1><a class="user-controls-link blue" href="/api/file/download/<%=targetUser.username%>/<%=file.fileId%>">DOWNLOAD!</a></h1>
        <br>
        <img src="">
        <br>
        <h3>Uploaded by <%=targetUser.username%></h3>
        <h3><%=file.date%></h3>
        <h3>Size: <span id="fileSize"><%=file.size%></span></h3>

    </div>

    <!-- User controls for deleting or making the post public are locked to uploader or ADMIN -->
    <%if (activeUser && targetUser.username == activeUser.username) {%>
        <br>
        <br>
        <div class="user-controls">
            <form method="post" action="/api/file/delete/<%=file.fileId%>">
                <input type="submit" value="DELETE FILE">
            </form>
    
            <form method="post" action="/api/file/toggleVisibility/<%=file.fileId%>">
                <input type="submit" value="TOGGLE VISIBILITY">
                <%if (file.isPublic){%>
                    ~ ~ Current Visibility: Open to the entire internet!!!
                <%}else{%>
                    ~ ~ Current Visibility: Registered Users Only
                <%}%>
                <span></span>
            </form>
        </div>

    <%}%>

    <%- include("./partials/userIndexFooter") %>
</body>

<script>
    function calculateFileSize(bytes)
    {
        if (bytes >= 1073741824) //1 gb = 1073741824 bytes
        {
            return (bytes / 1073741824).toFixed(2) + " GB";
        }
        else if (bytes >= 1048576) //1 mb in bytes
        {
            return (bytes / 1048576).toFixed(2) + " MB";
        }
        else if (bytes >= 1024) //1 kb in bytes
        { 
            return (bytes / 1024).toFixed(2) + " KB"; 
        }
        else if (bytes > 1)
        { 
            return bytes + " bytes"; 
        }
        else if (bytes == 1)
        { 
            return bytes + " byte"; 
        }
        else {
            return "???";
        }
    }

    let fileSizeSpan = document.getElementById('fileSize');

    let basicSize = Number(fileSizeSpan.innerText);

    fileSizeSpan.innerText = calculateFileSize(basicSize);

    console.log('Finished calculating file size!');
</script>
</html>