<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads</title>

    <link rel="stylesheet" href="/css/style.css">
    <!-- vvv font awesome for useful icons like search glass -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%
    // because apprently dumb stupid ejs can't read scripts -_-
    function calculateFileSize(bytes)
    {
        if (bytes >= 1073741824) //1 gb = 1073741824 bytes
        {
            return (bytes / 1073741824).toFixed(2) + " GB";
        }
        else if (bytes >= 1048576) //1 mb in bytes
        {
            return (bytes / 1048576).toFixed(2) + " MB";
        }
        else if (bytes >= 1024) //1 kb in bytes
        { 
            return (bytes / 1024).toFixed(2) + " KB"; 
        }
        else if (bytes > 1)
        { 
            return bytes + " bytes"; 
        }
        else if (bytes == 1)
        { 
            return bytes + " byte"; 
        }
        else {
            return "???";
        }
        
    }
    %>

</head>
<body class="user-index-body white">

    <%
    let isThisActiveUserPage = false;
    if (activeUser.username == targetUser.username)
    {
        isThisActiveUserPage = true;
    }
    %>

    <%- include("./partials/userIndexHeader") %>

    <%
    if (!isThisActiveUserPage)
    {
    %>
    <h3 class="tac">Viewing <%=targetUser.username%>'s Page</h3>
    <%
    }
    %>
    <div id="upload-and-list-wrapper">

        <!-- vv contains suicune delivery service -->
        <!-- is conditionally rendered if viewing your own page, can't access from other user pages -->
        <%if (isThisActiveUserPage) {%>
        <div class="uploader-container">

            <h4>Suicune Mail Service</h4>

            <form class="suicune-form suicune-width" enctype="multipart/form-data" method="post">
                <img src="/images/245.png">
                <div id="upload-files">
                    <label for="file">File:</label>
                    <input id="file" name="uploaded_file" type="file" multiple>
                </div>
                <br>
                <input type="submit" value="Upload" id="upload-button">
                <br>
            </form>

            <div id="active-uploads">

            </div>
        </div>
        <%}%>
        <!-- vv contains all user's uploaded files -->
        <!-- Conditionally render as a 100% width if looking at another user's page -->
        <%if (isThisActiveUserPage) {%>
        <div class="upload-list-container">
        <%}else{%>
        <div class="upload-list-container width-100 remove-left-border">
        <%}%>
            <table id="list">
                <thead>
                    <th class="upload-list-name-column">Name</th>
                    <th class="upload-list-link-column">Perm🔗</th>
                    <th class="upload-list-size-column">Size</th>
                    <th class="upload-list-date-column">Date</th>
                </thead>

                <tbody>
                <%if (targetUser.files){%>
                    <%targetUser.files.forEach( (file, index) => {%>
                        <tr>
                            <td class="upload-list-name-column">
                                <div class="mobile-file-details desktop-invisible" style="padding-top: 15px;">   
                                </div>
                                <a href="#" class="file-name-link" id="<%=file.fileId%>" data-username="<%=targetUser.username%>"><%=file.name%></a>
                                <div class="mobile-file-details desktop-invisible" style="padding-top: 15px;">
                                    <span>🔗<a href="/u/<%=targetUser.username%>/<%=file.fileId%>" style="text-decoration: underline">LINK</a> ~ Size: <%=calculateFileSize(file.size)%></span>
                                </div>
                            </td>
                            <td class="upload-list-link-column">
                                <a href="/u/<%=targetUser.username%>/<%=file.fileId%>">LINK</a>
                            </td>
                            <td class="upload-list-size-column">
                            <%=calculateFileSize(file.size)%>
                            </td>
                            <td class="upload-list-date-column">
                            <%
                                //format date into proper format
                                const dateUploaded = file.date;
                                let month = dateUploaded.getMonth() + 1;
                                let day = dateUploaded.getDate();
                                let year = dateUploaded.getFullYear();

                                let calendarDate = `${month}/${day}/${year}`;
                            %>
                            <%=calendarDate%>
                            </td>
                        </tr>
                    <%})%>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>

    <%- include("./partials/userIndexFooter") %>

    <script src="./js/calculateFileSize.js"></script>
    <%if (isThisActiveUserPage) {%>
    <script src="./js/simpleUploadLogic.js"></script>
    <%}%>
    <script src="./js/createDownloadLinks.js"></script>
</body>
</html>