<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads</title>

    <link rel="stylesheet" href="/css/style.css">
    <!-- vvv font awesome for useful icons like search glass -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="user-index-body white">

    <%
    let isThisActiveUserPage = false;
    if (activeUser.username == targetUser.username)
    {
        isThisActiveUserPage = true;
    }
    %>

    <%- include("./partials/userIndexHeader") %>

    <%
    if (!isThisActiveUserPage)
    {
    %>
    <h3 class="tac">Viewing <%=targetUser.username%>'s Page</h3>
    <%
    }
    %>

    <div id="upload-and-list-wrapper">

        <!-- vv contains suicune delivery service -->
        <!-- is conditionally rendered if viewing your own page, can't access from other user pages -->
        <%if (isThisActiveUserPage) {%>
        <div class="uploader-container">

            <h4>Suicune Mail Service</h4>

            <form class="suicune-form suicune-width" enctype="multipart/form-data" method="post">
                <img src="/images/245.png">
                <div id="upload-files">
                    <label for="file">File:</label>
                    <input id="file" name="uploaded_file" type="file" multiple>
                </div>
                <br>
                <input type="submit" value="Upload" id="upload-button">
                <br>
            </form>

            <div id="active-uploads">

            </div>

            <div>
                <br>
                <br>
                <br>
            </div>

            <div class="background-202020">
                <p id="legal-notice">NOTICE: This upload service is still under development and errors may occur. Your uploads are not private. If you post illegal pornography, you will be reported to the authorities immediately. Upload at your own risk.</p>    
            </div>

            <div id="news">
                <div class="text-align-left">
                News:
                </div>
                <hr class="border-color-grey">
                <div class="news-article">
                2.8.25 - hi uwu i updated the website with ai
                </div>
                <hr class="border-color-grey">
                <div class="news-article">
                2.8.25 - Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </div>
            </div>
        </div>
        <%}%>
        <!-- vv table contains all user's uploaded files -->
        <!-- Conditionally render as a 100% width if looking at another user's page -->

        <div class="desktop-invisible mobile-file-sorting-taskbar">
            Sort by:
            <a id="sortByNameMobile" href="">Alphabetical</a>
            <a id="sortByDateMobile" href="">Date</a>
            <a id="sortBySizeMobile" href="">Size</a>                  
        </div>
            
        <%if (isThisActiveUserPage) {%>
        <div class="upload-list-container">
        <%}else{%>
        <div class="upload-list-container width-100 remove-left-border">
        <%}%>
            
            <div class="userPortal-utility-bar flex-row">
                <div class="search-container">
                <label for="search">🔍</label>
                <input type="search" id="search">
                </div>
            </div>

            <table id="list">

                <thead>
                    <th class="goaway upload-list-name-column link-as-button"><a href="" id="sortByName">Name</a></th>
                    <th class="upload-list-link-column ">Perma🔗</th>
                    <th class="upload-list-size-column link-as-button"><a href="" id="sortBySize">Size</a></th>
                    <th class="upload-list-date-column link-as-button"><a href="" id="sortByDate">Date</a></th>
                </thead>

                <tbody>
                <%if (targetUser.files){%>
                    <%targetUser.files.reverse().forEach( (file, index) => {%>
                        <%// vvv this is top level of each individual upload%>
                        <tr data-filename="<%=file.name%>" data-filesize="<%=file.size%>" data-filedate="<%=file.date%>"> 

                            <%
                                //format date for use later on down the line
                                const dateUploaded = file.date;
                                let month = dateUploaded.getMonth() + 1;
                                let day = dateUploaded.getDate();
                                let year = dateUploaded.getFullYear();

                                let calendarDate = `${month}/${day}/${year}`;
                            %>

                            <td class="upload-list-name-column ">

                                <a href="#" class="file-name-link" id="<%=file.fileId%>" data-username="<%=targetUser.username%>"><%=file.name%></a>
                                
                                <!-- vv mobile information invisible in desktop mode vv-->
                                <div class="mobile-file-details desktop-invisible" style="padding-top: 15px;">
                                    <span>
                                        🔗<a href="/u/<%=targetUser.username%>/<%=file.fileId%>" style="text-decoration: underline">LINK</a> ~ Size: <span class="fileSize"><%=file.size%></span>
                                        <%if (file.isPublic) {%>
                                            👁️
                                        <%}%>
                                    </span>
                                    <br>
                                    <span style="font-size: 75%;">
                                        Uploaded: <%=calendarDate%>
                                    </span>
                                </div>
                                <!-- ^^ mobile information-->
                            </td>
                            
                            <td class="upload-list-link-column">
                                <a href="/u/<%=targetUser.username%>/<%=file.fileId%>">LINK</a>
                            </td>
                            
                            <td class="upload-list-size-column">
                            <span class="fileSize"><%=file.size%></span>
                            </td>
                            
                            
                            <td class="upload-list-date-column">
                            <%=calendarDate%>
                            <%if (file.isPublic) {%>
                                <div class="tooltip-left">
                                    👁️
                                    <span class="tooltip-text">File is visible to the internet!</span>
                                </div>
                            <%}%>
                            </td>
                            
                        </tr>
                    <%})%>
                <%}%>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    
    <%- include("./partials/userIndexFooter") %>

    <script>
        function calculateFileSize(bytes)
        {
            if (bytes >= 1073741824) //1 gb = 1073741824 bytes
            {
                return (bytes / 1073741824).toFixed(2) + " GB";
            }
            else if (bytes >= 1048576) //1 mb in bytes
            {
                return (bytes / 1048576).toFixed(2) + " MB";
            }
            else if (bytes >= 1024) //1 kb in bytes
            { 
                return (bytes / 1024).toFixed(2) + " KB"; 
            }
            else if (bytes > 1)
            { 
                return bytes + " bytes"; 
            }
            else if (bytes == 1)
            { 
                return bytes + " byte"; 
            }
            else {
                return "???";
            }
        }

        let fileSizeSpans = document.querySelectorAll(".fileSize").forEach(span => {
            let basicSize = Number(span.innerText);
            span.innerText = calculateFileSize(basicSize);
        })

        // let fileSizeSpan = document.getElementById('fileSize');

        // let basicSize = Number(fileSizeSpan.innerText);

        // fileSizeSpan.innerText = calculateFileSize(basicSize);

        console.log('Finished calculating file sizes!');
    </script>

    <%if (isThisActiveUserPage) {%>
    <script src="/js/simpleUploadLogic.js"></script>
    <%}%>

    <script src="/js/createDownloadLinks.js"></script>

    <script src="/js/sortUploads.js"></script>
    
    <script src="/js/sortingButtonsForUploads.js"></script>
    
    </body>
</html>